@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* > * {
  font-family: 'Inter', sans-serif;
  margin: 0px;
}

html {
  scroll-behavior:smooth;
}

:root {
  --primary-1: #363738;
  --secondary: #F5F5F5;
  --secondary-1: #FEFAF1;
  --text: #FAFAFA;
  --secondary-2: #db4444;
  --ash: #7d8184;
  --foreground-rgb: #000000;
  --background-rgb: #ffffff;
  --hover-button-1: #a0bce0;
  --hover-button-2: #e07575;
  --button: #000000;
  --button-1: #00ff66;
  --button-2: #db4444;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #ffffff;
    --background-rgb: #000000;
  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.bg-color-b{
 background-color:  var(--button)
}

.text-color{
  color: var(--secondary)
}

.app-logo{
  font-weight: bold;
  color: var(--button);
  font-size: large;
}
.app-logo-white{
  font-weight: bold;
  color: var(--secondary);
  font-size: large;
}

.footer-tab-c{
  font-weight: bold;
  color: var(--secondary);
  font-size: medium;
  @apply cursor-pointer;
}

.footer-tab{
  font-weight: bold;
  color: var(--secondary);
  font-size: medium;
}
.footer-tab-small{
  font-weight: 400;
  color: var(--secondary);
  font-size: small;
  @apply cursor-pointer;
} 
.footer-tab-small:hover{
  color: var(--hover-button-2)
}

.tab {

  @apply px-4 cursor-pointer;
}
.tab:hover{
  color: var(--button-2);
}
 

.copy{
  color: var(--text);
  opacity: 0.7;
  @apply w-full flex flex-row items-center justify-center;
}

.icon{
  @apply mx-2 cursor-pointer;
}
.not-found{ 
  @apply text-7xl font-bold  ;
}

.not-found-btn{
  background-color: var(--button-2);
  color: var(--secondary);
  border-radius: 4px; 

  @apply p-3 ;
}

.not-found-btn-none{
  background-color: var(--background-rgb);
  color: var(--button-2);
  border-radius: 4px; 

  @apply p-3 ;
}

.button-outline{
  background-color: var(--background-rgb);
  color: var(--button);
  border-radius: 4px; 
  border: 1px solid var(--button);
  @apply p-3 text-center w-full ;
}

.login-found-btn{
  background-color: var(--button-2);
  color: var(--secondary);
  border-radius: 4px; 

  @apply p-3 ;
}

.search-input{
  background-color: var(--secondary);
  border-radius: 4px; 
  @apply p-2 flex flex-row justify-around items-center; 
}

.auth-input {
  background-color: var(--background-rgb);
  border-bottom: 1px solid black;

  @apply p-2 w-[100%]; 
}


.email-footer-input{
  background-color: var(--button);
  border-radius: 4px; 
  border: #F5F5F5;
  outline: auto;
  @apply p-2 flex flex-row justify-around items-center; 
}

input { 
  border: none;
  outline: none;

}



input:focus {
  outline: none;
}

/* Change the font size and style of the placeholder text */
input::placeholder {
  font-size: 14px;
}

.input-bg-grey{
  background-color: var(--secondary);
}

